In [27]:
from simulate_sensor import Sensor

In [28]:
#Start the sensor with ID 1234 of patient Marco
marco = Sensor('1234')

In [26]:
marco.HB
marco.__dict__

{'HB': [80.14122584725975],
 'ID': '1234',
 'O2': [96.9151297885538],
 'Pd': [80.20262175336944],
 'Ps': [119.72070956435671],
 'T': [36.43797721474994],
 '_args': (),
 '_daemonic': False,
 '_ident': None,
 '_initialized': True,
 '_is_running': True,
 '_is_stopped': False,
 '_kwargs': {},
 '_name': 'Thread-8',
 '_started': <threading.Event at 0x7f2898baa048>,
 '_stderr': <ipykernel.iostream.OutStream at 0x7f289550d9e8>,
 '_target': None,
 '_tstate_lock': None,
 'readable': Empty DataFrame
 Columns: []
 Index: []}

In [29]:
marco.get_patient(1)
marco.readable

      HB [bpm]    ID  O2 levels [%]  P diastolic  P systolic      T [C]
Time
1     80.25027  1234      97.243172    79.989952  119.938748  36.442197

In [30]:
# Start the thread of Marco. 
marco.start()

In [37]:
marco.readable

          HB [bpm]    ID  O2 levels [%]  P diastolic  P systolic      T [C]
Time
17:11:16  80.25027  1234      97.243172    79.989952  119.938748  36.442197

In [38]:
# Stop Marco's thread
marco.stop()

Patent 1234 thread stopped

In [39]:
from patients import initiate_patient_list, get_patient_list, stop_patient_list

In [40]:
# We have three sensors with ID in patient_list
patient_list = ['1', '2', '3']

In [41]:
# start the thread for the three sensors
patients = initiate_patient_list(patient_list)

In [45]:
patients['1'].readable

           HB [bpm] ID  O2 levels [%]  P diastolic  P systolic      T [C]
Time
17:12:36  79.324274  1      96.865618    80.568865  120.009109  36.474541
17:12:41  79.324274  1      96.865618    80.568865  120.009109  36.474541

In [46]:
# Stop threads
stop_patient_list(patients)

Patent 2 thread stopped
Patent 3 thread stopped
Patent 1 thread stopped